
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
      font-family: "Titillium Web", serif;
      box-sizing: border-box;
      margin: 0  ;
      padding: 0;
}
/* sheared code */
body{
      width: 1300px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 40px auto;
      background-color:
      #0E0E0E26;
      
      
}

.primary-heading{
      color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
margin-bottom: 20px;
}

.paragraph{
      color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}

.primary-btn{
      border-radius: 8px;
      color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
padding: 15px 20px;
border: none;
} 


/* button code hover */

.button-8:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}
.button-7:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}

.button-6:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}
.button-5:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}

.button-4:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}
.button-3:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}
.button-2:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}

.button-1:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}
/* header */
.button-1{
      color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 11px 20px;
position: static;
transition: all .6s ease-in-out;
}

nav h4{
      color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
position: static;
}

nav{
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 31px 0% 0 5%; 

}

.banner-heading h5{
      color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
margin-bottom: 15px;
}

.banner-heading h1{
      color: rgb(14, 14, 14);
      font-family: Fira Sans;
      font-size: 56px;
      font-weight: 700;
      
}

.button-2{
      border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
padding:20px 36px;
margin-top: 24px;
transition: all .6s ease-in-out;
}

.banner-action{
      height: 560px;
      width: 1280px;
      background-color: #C6E4D6;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 64px;
      border-radius: 24px;

}

.banner-section{
      margin: 31px 4%;
}


/* main section */
.vision-section{
      margin: 31px 0% 31px 5%;

}

.vision-box-1{
      width: 410px;
      height: 325px;
      box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
padding: 32px;
}
.vision-box-2{
      width: 410px;
      height: 325px;
      box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
padding: 32px;
}
.vision-box-3{
      width: 410px;
      height: 325px;
      box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
padding: 32px;
}

.box-text{
      color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 24px;
}

.button-3{
      background-color: #5490F5;
      margin-top: 25px;
      transition: all .6s ease-in-out;
}

.button-4{
      background-color:#09A15C;
      margin-top: 44px;
      transition: all .6s ease-in-out;
}
.button-5{
      background-color: #FFC239;
      margin-top: 25px;
      transition: all .6s ease-in-out;
}

.vision-row{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin: 0 -3% 0 3%;
}

/* coition-section */

.coation-text h5{
      color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 25px;
font-weight: 600;
margin: 10px 0;
}

.coation-text{
      padding: 48px 48px 24px 48px;
      position: relative;

}
.coation-section img{
height: 60px;
width: 60px;
z-index: -2;
opacity: .3;
position: absolute;
margin: 30px 0 0 48px;
      
}

.fa-envelope{
      margin: 22px 760px 0px 30px;
      font-size: 20px;
      position: absolute;
      z-index: 2;
      opacity: .5;
}

.coation-section{
      margin-top: 20px;
      margin-bottom: 20px;
}


/* recent-development */
.recent-text{
      margin:10px -2% 35px 3% ;
}


.recent-box{
      width: 1280px;
      height: 402px;
}

.button-6{
      border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
padding: 15px 27px;
border: none;
margin-top: 25px;
transition: all .6s ease-in-out;
}

.text-bd{
      color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
      margin-bottom: 15px;
}

.resent-box{
      width: 1280px;
      height: 412px;
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: center;
      background-color:
      #FFFFFF;
      margin-top: 15px;
}
.pain{
      margin: 10px 0 10px 0;
}

.image-1{
border-radius: 24px;
}


/* donate section */

.donate-section{
      width: 1280px;
      height: 464px;
      margin-top: 50px;
}

.donate-text{
      text-align: center;
      
}

.money-box{
      box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(250, 248, 248);
height: 128px;
width: 230px;
display: flex;
justify-content: center;
      align-items: center;
      transition: all .6s ease;
      

}
.money-box h2{
      color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;


}
.taka{
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: center;
      margin-top: 38px;
}

.money-box:hover{
      background: #5fe6a7;
      box-sizing: border-box;
border: 1px solid #5fe6a7;
border-radius: 16px;
height: 128px;
width: 230px;
display: flex;
justify-content: center;
      align-items: center;
}

.input-box input{
      height: 64px;
      width: 950px;
      margin: 0 0% 0 0%;
      border: none;
      margin-bottom: 30px;
}

.button-7{
      box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
padding: 20px 34px;
transition: all .6s ease-in-out;

}


.button-7:hover{
      background: #5fe6a7;
      box-sizing: border-box;
}

.input-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      column-gap: 35px;
      margin-top: -165px;
}

.input-box input::placeholder{
      padding: 10px 420px ;
}

/* subscribe section */


.subscribe{
      width: 1280px;
      height: 310px;
      margin-top: 80px;
      background-color: #C6E4D6;
      padding-top: 60px;
}
.subscribe-text{
      text-align: center;
}

.button-8{
      box-sizing: border-box;
      border:none;
      
      background: rgb(0, 106, 80);
      
      color: rgb(255, 255, 255);
      font-family: Fira Sans;
      font-size: 18px;
      font-weight: 600;
      padding: 20px 34px;
      transition: all .6s ease-in-out;
       
}

.input-box-2 input{
      height: 62px;
      width: 650px;
      margin: 0 0% 0 0%;
      border: none;
      margin-bottom:30px;
      padding: 12px 20px;
}

.input-box-2{
      width: 803px;
      height: 61px;
      display: flex;
      justify-content: center;
      margin: 28px 0% 0 18%;
}

.input-box-2 input::placeholder{
      padding-left: 40px;
}

/* footer */
.bd h4{
      color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;

}

.icon{
      display: flex;
      gap: 20px;
      
}

.fooder-foot{
      display: flex;
      flex-direction: column;
      justify-content: center;	
      align-items: center;
      gap: 50px;
      height: 200px;
}


/* table */
table, th, td {
      
      border: 2px solid rgba(97, 140, 231, 0.699);
background: (255, 255, 255, 0.589);

border-collapse: collapse;

    }

    .table{
      width: 1280px;
      height: 409px;
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    table{
      width: 1200px;
      height: 300px;
    }
    
    .table-heading{
      display: flex;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
      background: rgb(198, 228, 214);
    }

    .table-heading-1{
      background: rgb(198, 228, 214);
    }
    
    table tr td select{
      
border: 1px solid rgb(47, 150, 235);
border-radius: 4px;
font-size: 20px;
background: rgb(198, 228, 214);
height: 44px;
width: 180px;
padding-left: 10px;
padding-right: 5px;
margin:0 -55px 0 20px;
    }

    table tr td {
      margin: 0 0 0 0;
padding-left: 10px;
      
    }


    /* pillar-section */
    .pillars-box1{
      background-color:#f8f3f3;
      width: 300px;
      height: 244px;
      padding: 20px 0px 0 15px;
    }

    .pillars-section{
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 24px;
         margin-left: 50px;
    }

    .pillars-heading{
      margin-left: 60px;
    }